<% include ../partials/header %>
<% include ../partials/nav %> 

<% loginMessage.forEach(error => { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <%= error %>
  </div>
<% }) %>

<form class="form-signin" method="POST" action="/api/users/login">
          
          <% for (let i = 0; i < errors.length; i++) {%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= errors[i].message || errors[i] %>
            </div>
          <% } %>
        

        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address" name="email">
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="text" id="inputPassword" class="form-control" placeholder="Password" name="password">
        <br>

        <button class="btn btn-sm btn-primary" type="submit">Log in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
    </form>


    <% include ../partials/footer %>
    </body>
    </html>