<!DOCTYPE html>
<html>
  <% include ../partials/header %> 
  <body>
    <% include ../partials/nav %> 
    <h1 class='text-center'>Thank you for your purchase</h1>
    
    <% include ../partials/footer %>
  </body>
</html>