  
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(left, rgb(46, 155, 139), rgb(255, 196, 208));
}

.row {
    padding-bottom: 25px;
}

.card{
    width: 18rem;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 400px;
}

a {
  color: #00B7FF;
}