body {
  /* padding: 50px; */
  padding: 0px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(left, #3931af, #00ffff)
}

a {
  color: #00b7ff;
}

.navbar {
  display: block;
  width: 100vw;
  margin-top: 0;
}

.row {
  padding-bottom:  25px;
}

.card {
  width: 18rem;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 430px;
}

