<% include ../partials/account %> 
<% include ../partials/nav %>
    

    <div class="row">

          <div class="col">
              <% products.forEach( product => { %>      
                <div class="card" style="width: 18rem;">
                    <a href="/api/product/"> 
                      <img class="card-img-top" src="<%= product.image %>" alt="Card image cap" />
                    </a> 
                    <div class="card-body">
                      <h5 class="card-title">Name: <%= product.name %> </h5>
                      <p class="card-text">Category: <%= product.category %></p>
                      <p class="card-text">$  <%= product.price %></p>
                      <a href="/api/product/" class="btn btn-primary">Shop</a>
                    </div>
                </div>
              <% }) %>
          </div>
    </div>

<% include ../partials/footer %> 